.main-index {
    .logo2 {
        @include flexible(flex, column-reverse, flex, flex-start, space-around, center);
        margin: auto;
    }


    //  Bloque

    .main {

        //  Elemento
        &__section {
            $pharmacy-violeta: #922f22;
            margin-left: 500px;
            background-color: rgb(83, 81, 81);
            font-size: 24px;
            font-family: sans-serif;
            text-align: center;
            padding: 20px;
            margin: 0 auto;
        }

        &__section1 {
            @extend .main__section;
            background-color: #7375a0;
        }





    }


    h1 {

        font-family: 'Courgette', cursive;
        display: flex;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-around;
        font-size: 200%;
        background-color: black;
        border: 4px solid orange;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        color: $pharmacy-orange;
        padding: 5px;
        margin-top: 10px;
        background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    }

    // p {
    //     color: orange;
    //     margin-left: 500px;
    //     background-color: rgb(3, 3, 3);
    //     font-size: 25px;
    //     font-family: sans-serif;
    //     text-align: center;
    //     padding: 20px;
    //     display: block;
    //     margin: 0 auto;
    // }

    h3 {
        color: rgb(7, 7, 6);
        margin-left: 500px;
        background-color: rgb(202, 198, 198);
        font-size: 25px;
        margin: 15px 0;
        text-align: center;
    }

    h4 {
        color: black;
        font-size: 30px;
        font-family: 'Courgette', cursive;
        padding: 5px;
        margin: 2px;
        background-color: thistle;
        text-align: center;
    }


    .volver-arriba {
        align-items: center;
        margin-left: 20px;
        margin-right: 120px;
        color: orange;
        font-size: 25px;
        background-color: black;
        border: 2px solid orange;
        display: inline-block;
        padding: 5px;
        margin: 20px;
    }


    .volver-arriba:hover {
        background-color: rgb(254, 251, 251);
        transform: scale(1.5);
    }

}

footer {
    padding: 1rem;
    clear: left;
    text-align: center;

    .flex-redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: flex-end;
        padding: 1rem;
        justify-content: space-between;
    }
}


@media (max-width: 375px) {
    .main-index {

        .logo2 {
            width: 355px;
        }


        p {
            color: rgb(69, 154, 233);
            margin-left: 500px;
            background-color: rgb(3, 3, 3);
            font-size: 12px;
            font-family: sans-serif;
            text-align: center;
            padding: 1px;
            display: block;
            margin: 0 auto;
        }

        h1 {
            font-family: 'Courgette', cursive;
            font-size: 110%;
            background-color: black;
            border: 4px solid orange;
            align-items: center;
            margin-left: -15px;
            margin-right: 10px;
            color: orange;
            padding: 5px;
            margin-top: 10px;
        }

        h3 {
            color: #040e02;
            background-color: #cac6c6;
            font-size: 16px;
            margin: 5px 0;
            text-align: center;
            max-width: 45vw;
        }

    }



}